{% extends 'flatpages/default1.html' %}

{% block content %}
    <h2>Наши сотрудники:</h2>
    <hr />
    <p style="font-size: 1.5em;"><em><span style="text-decoration: underline; color: #3366ff;"><strong>
        Генеральный директор:</strong></span></em><br /> Иванов Петр Сергеевич</p>
    <p style="font-size: 1.5em;"><em><span style="text-decoration: underline; color: #3366ff;"><strong>
        Заместитель генерального директора по персоналу:</strong></span></em><br /> Рудаков Сергей Валерьевич</p>
{% endblock content %}
